header.primary{
background-image: url("https://images.pexels.com/photos/110854/pexels-photo-110854.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
text-align:center;
    color:#fff;
    padding:40px;
    text-shadow: 2px 2px 20px #000;
}
#content{
    width:80vw;
    margin:40px auto;
}

header nav li{
   display:flex;
   flex-direction:row;
   justify-content: center;
   padding:60px;
}

header nav li a, header nav ul li a:visited{
  color:#fff;
  text-decoration:none;
  background-color:#011C3D;
  background-color:rgba(0,0,0,0.5);
  padding: 8px 16px;
  border-radius:50px;
  transition: .3s;
}
header nav li a:hover, header nav ul li a:active{
 background-color:#5765C2;    
}


#header img{
    max-width:100%;
  height:auto;
}


body{
font-family: 'Oswald', sans-serif;
margin:0;
line-height: 2;
}

header.primary nav ul{
   display:flex;
   flex-direction:row;
   justify-content: center;
   padding:60px;
   
}
header nav li{
list-style-type: none;
padding: 10px;
float:inherit;
    
}

header nav li a, header nav ul li a:visited{
  color:#fff;
  text-decoration:none;
  background-color:#011C3D;
  background-color:rgba(0,0,0,0.5);
  padding: 8px 16px;
  border-radius:50px;
  transition: .3s;
}
header nav li a:hover, header nav ul li a:active{
 background-color:#5765C2;    
}

html{
    color:white;
    background-color:black;
    
}
table{
        border:1px solid #ccc;
        width:100%;
        border-collapse: collapse;
    justify-content:center;
}

footer{
    color:white;
}
img {
  max-width:50%;
  height:auto;
  margin-left: 90px;
}

 h2,h3{
     font-family: Copperplate, "Copperplate Gothic Light", fantasy;
 font-size: 3.2rem;
 color:#116EFF;
}
   nav ul li{
   display:flex;
   flex-direction:row;
   justify-content: left;
   padding:10px;
   text-color: black;
  text-decoration:none;
       
   }

nav li a, header nav ul li a:visited{
  text-color: black;
  text-decoration:none;
  background-color:white;
  padding: 8px 16px;
  border-radius:50px;
  transition: .3s;
}

header.primary{
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 4rem;
    color:white!important;
}


 table caption{
font-weight:bold;
        font-size:1.9em;
        line-height:3em;
        color:#116EFF;
    }
table td{
    text-align: center;
    line-height:1.6;
}

div{
    width:50%;
    margin-left:190px;
}

summary{
    color:#116EFF;
}
