@charset "UTF-8";
h1 {
  color:#262266;
  text-align:center;
  font-family: "Times New Roman", Times, serif;

}
img {
  display:block;
  width:5%;
  height:5%;
  border-radius: 8px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
/* Style the tab */
.tab {
  background-color:#AB9353;
overflow:auto;
border: 1px solid #ccc;
position: center;
margin: auto;
width:auto;
padding-left:275px;
}



/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #F4F4F4;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
display: none;
padding: 6px 12px;
border: 1px solid rgb(0, 0, 0);
text-align: left;
margin-top: 50px;
margin-right: 150px;
margin-left: 150px;
margin-bottom: 150px;
}
body {background-color: #EAE3EA;
font-family: "Times New Roman", Times, serif;
}

ul{
  list-style-type:none;
  text-align:center;
  

}
li{
padding-top:5px;
}
h2{
text-align:center;
}
h3{
text-align:center;
}
h4{
text-align:center;
}
p{
text-align:center;
}
 a {
    text-align: center;
    padding-top:15px;
    display:block;
    
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}